.mat-mdc-dialog-title::before {
  height: 0px !important;
}

.mat-mdc-dialog-title {
  line-height: 20px;
}



.error-field {
  label {
    color: rgb(255, 81, 81) !important;
  }

  input,
  select {
    border: 1px solid rgb(255, 81, 81) !important;
  }

  .uploaded-file-list-viewer {
    border: 1px solid rgb(255, 81, 81) !important;
  }
}
