@let _fileType = fileType();
@let _fileName = data.name || '';
@let _url = data.url || '';

<div mat-dialog-title>
  <div class="dialog_header">
    <div class="details_wrapper">
      <h4 class="presentation_name" MiddleEllipsis [minLength]="20">{{_fileName}}</h4>
    </div>
    <div class="btn-wrapper">
      <div class="btn_holder">
        <button type="button" (click)="download(_url, _fileName)" class="download_btn">
          <mat-icon class="material-symbols-outlined">download</mat-icon> <span>Download</span>
        </button>
      </div>
      <button mat-dialog-close class="modal_close_btn">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>
<mat-dialog-content>
  <div class="doc-viewer-wrapper">
    @if(_fileType == 'doc') {
    <div class="doc_wrap">
      <ngx-doc-viewer [url]="_url" viewer="office" style="width:100%; height:100%;"></ngx-doc-viewer>
    </div>
    } @else if (_fileType == 'image') {
    <div class="doc_container">
      <div class="video_wrapper image_wrapper">
        @if(_url?.length) {
        <img [ngSrc]="_url" (error)="'/images/no-image-icon.png'" [width]="731" [height]="369"
          [placeholder]="'/images/no-image-icon.png'" alt="image">
        } @else {
        <img [ngSrc]="'/images/no-image-icon.png'" [width]="731" [height]="369"
          [placeholder]="'/images/no-image-icon.png'" alt="image" />
        }
      </div>
    </div>
    } @else if (_fileType == 'video') {
    <div class="doc_container">
      <div class="video_wrapper">
        <video [src]="_url" [controls]="true" [muted]="false"></video>
      </div>
    </div>
    } @else if (_fileType == 'pdf') {
    <!-- @if(showPDFloadingMsg()) {
    <div style="width: 100%; text-align: center; margin-top: 100px;">
      <p>We're fetching your file...</p>
      <p>Please wait a moment while we retrieve your file from its home on the Internet</p>
    </div>
    }
    @if (showPDFerrorMsg()) {
    <div style="width: 100%; text-align: center; margin-top: 100px;">
      <p>Sorry, we couldn't load the file</p>
      <p>It's possible that the file is too large or the server is too slow</p>
    </div>
    } -->
    <ngx-doc-viewer [url]="_url" viewer="google" style="width:100%;height:100%;"></ngx-doc-viewer>
    <!-- <pdf-viewer [src]="_url" [rotation]="0" [original-size]="false" [show-all]="true" [fit-to-page]="false" [zoom]="1"
      [zoom-scale]="'page-width'" [stick-to-page]="false" [render-text]="true" [external-link-target]="'blank'"
      [autoresize]="true" [show-borders]="true" style="width: 100%; height: 100%;"
      (after-load-complete)="showPDFloadingMsg.set(false);" (error)="showPDFloadingMsg.set(false); showPDFerrorMsg.set(true);"></pdf-viewer> -->
    }
  </div>
</mat-dialog-content>
