.dialog_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--lightColor);

  .details_wrapper {
    max-width: 600px;

    h4 {
      margin: 0;
    }

    p {
      margin: 0;
      font-size: 12px;
      color: rgb(57, 57, 57);
    }
  }

  .btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .btn_holder {
      display: flex;
      justify-content: flex-end;



      @media(min-width: 1200px) {
        right: 1.25vw;
        top: 1.25vw;
      }

      .download_btn {
        padding: 7px 10px;
        border-radius: 6px;
        background-color: rgb(18, 18, 18);
        color: #fff;
        font-size: 12px;
        font-weight: 500;
        display: flex;
        align-items: center;

        .mat-icon {
          font-size: 20px;
        }

        span {
          @media(max-width: 767px) {
            display: none;
          }
        }

        @media(min-width: 1200px) {
          // margin-bottom: 1.667vw;
          // padding: 0.833vw 1vw;
          // border-radius: 0.833vw;
          // font-size: 1vw;
        }

        &:hover {
          background-color: #000000aa;
        }
      }
    }

    .modal_close_btn {
      // position: absolute;
      // right: 15px;
      // top: 15px;
      border: none;
      outline: none;
      width: 35px;
      height: 35px;
      background-color: var(--button_bg);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      .mat-icon {
        font-size: 18px;
        height: auto;
        width: auto;
      }

      &:hover {
        background-color: var(--dark);
        color: var(--white);

      }
    }
  }
}

.doc-viewer-wrapper {
  width: 100%;
  position: relative;
  padding: 0;
  // padding-top: 30px;
  overflow: auto;
  height: 54vh;
  overflow: hidden;

  .doc_container {
    // padding: 15px 0;
    height: 100%;

    .video_wrapper {
      height: 100%;

      video {
        width: 100%;
        height: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .doc_wrap {
    height: 100%;
  }
}

.mat-mdc-dialog-title::before {
  height: 0px !important;
}

.mat-mdc-dialog-title {
  line-height: 10px;
  // font-size: 0;
}
