<div class="wrapper" style="margin-top: -80px;">
  <div class="inner">
    <img src="images/auth-page-img1.png" alt="" class="image-1">
    <form [formGroup]="form" id="login-form">
      <h3>Login to Your Account</h3>
      <div class="form-holder">
        <div class="input-field"
          [class.error-field]=" form.controls['email'].touched && (form.controls['email'].hasError('required') || form.controls['email'].hasError('pattern')) ">
          <div class="input_group">
            <span class="material-symbols-outlined">mail</span>
            <input type="text" class="form-control" placeholder="Email" formControlName="email" required />
          </div>
          <div class="error-msg">
            @if(form.controls['email'].touched && form.controls['email'].hasError('required')) {
            <p>Email is required!</p>
            }
            @if(form.controls['email'].touched && form.controls['email'].hasError('pattern')) {
            <p>Invalid Email!</p>
            }
          </div>
        </div>
      </div>
      <div class="form-holder">
        <div class="input-field" [class.error-field]="
          form.controls['password'].touched &&
          (form.controls['password'].hasError('required') ||
            form.controls['password'].hasError('pattern'))
        ">
          @let _tooglePassword = tooglePassword();
          <div class="input_group has_icon">
            <span class="material-symbols-outlined">lock</span>
            <input [type]="_tooglePassword" class="form-control" placeholder="Enter password" formControlName="password"
              required />
            <span (click)="tooglePassword.set(_tooglePassword=='text' ? 'password': 'text')"
              class="material-symbols-outlined right-icon">
              {{_tooglePassword == 'password' ? 'visibility' : 'visibility_off'}}
            </span>
          </div>
          <div class="error-msg">
            @if(form.controls['password'].touched &&
            form.controls['password'].hasError('required')) {
            <p>Password is required!</p>
            } @if(form.controls['password'].touched &&
            form.controls['password'].hasError('pattern')) {
            <p>Password atleast have 6 characters.</p>
            }
          </div>
        </div>
      </div>
      <div class="remember_group">
        <div class="remember_me">
          <input type="checkbox" id="remember_me" formControlName="rememberMe" />
          <label class="ms-2" for="remember_me">Remember Me</label>
        </div>
        <div class="forgot-password">
          <a class="link" routerLink="/forgot-password">Forgot Password</a>
        </div>
      </div>
      @let _loading = loading();
      <button (click)="submit(form)" [disabled]="_loading" [class.disabled]="_loading">
        @if(_loading) {
        <mat-spinner class="spinner" style="margin-right: 10px !important;" diameter="20"></mat-spinner> <span>Logging in...</span>
        } @else {
        <span>Login</span>
        }
      </button>
      <div class="auth_btm">
        <p>Do not have an account? <a class="link" routerLink="/register">Create Account</a></p>
      </div>
    </form>
    <img src="images/auth-page-img2.png" alt="" class="image-2">
  </div>

</div>
