<div class="mx-auto max-w-2xl py-32 sm:py-22 lg:py-52">
  <div class="text-center">
    <h1 class="text-5xl font-semibold tracking-tight text-balance text-gray-900 sm:text-7xl">Manage your daily life
      expenses</h1>
    <p class="mt-8 text-lg font-medium text-pretty text-gray-500 sm:text-xl/8">Cashlytics is a simple efficien personal
      finance management platform that allows you to traack your daily expenses and income.</p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <a routerLink="/dashboard" class="text-sm/6 font-semibold text-gray-900">Get started <span
          aria-hidden="true">→</span></a>
    </div>
  </div>
</div>
