@use "tailwindcss";
@use '@splidejs/splide/dist/css/splide.min.css';

@font-face {
  font-family: "Muli-Regular";
  src: url('../public/fonts/muli/Muli-Regular.ttf');
}

@font-face {
  font-family: "Muli-SemiBold";
  src: url('../public/fonts/muli/Muli-SemiBold.ttf');
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Muli-Regular";
  font-size: 14px;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.error-field {
  .error-msg {
    color: rgb(255, 81, 81);
    font-size: 10px;
    margin-top: 3px;
  }
}

.calculator-panel {
  .mat-mdc-dialog-surface {
    border-radius: 3px !important;
  }
}

.dashboardSelectOptions {
  .mat-mdc-select-panel {
    scrollbar-width: none !important;

    .mat-mdc-option {
      min-height: 35px !important;
    }
  }
}

/* For Chrome, Edge, Safari, Opera and Firefox */
.thin-scrollbar {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #888 #f1f1f1; /* For Firefox */

  /* For WebKit browsers (Chrome, Edge, Safari, Opera) */
  &::-webkit-scrollbar {
    width: 6px; /* Width of the vertical scrollbar */
    height: 6px; /* Height of the horizontal scrollbar */
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
    border-radius: 10px; /* Rounded corners for the track */
  }

  &::-webkit-scrollbar-thumb {
    background: #888; /* Color of the thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the thumb on hover */
  }
}

.cards {
  background-color: rgb(235, 244, 255);
  box-shadow: 2px 2px 2px rgba(5, 130, 171, 0.252);
}
