 select {
   outline: none !important;

   &:focus {
    outline: none !important;
     box-shadow: none !important;
   }

   &:focus-visible {
     outline: none !important;
     box-shadow: none !important;
   }

   &.per-page-select {
     border: none !important;
   }
 }
