<div class="wrapper">
  <div class="inner">
    <img src="images/auth-page-img1.png" alt="" class="image-1">
    <form [formGroup]="form" id="register-form">
      <h3>New Account?</h3>
      <div class="form-holder ">
        <div class="input-field">
          <div class="input_group">
            <input type="file" class="form-control" placeholder=" Enter Name" (change)="handleImageUpload($event)" />
          </div>
        </div>
      </div>
      <div class="form-holder ">
        <div class="input-field"
          [class.error-field]="form.controls['name'].touched && form.controls['name'].hasError('required')">
          <div class="input_group">
            <span class="material-symbols-outlined" style="font-size: 25px;">person</span>
            <input type="text" class="form-control" placeholder=" Enter Name" formControlName="name" required
              [maxlength]="50" />
          </div>
          <div class="error-msg">
            @if(form.controls['name'].touched && form.controls['name'].hasError('required')) {
            <p>Name is required!</p>
            }
          </div>
        </div>
      </div>
      <div class="form-holder">
        <div class="input-field"
          [class.error-field]=" form.controls['email'].touched && (form.controls['email'].hasError('required') || form.controls['email'].hasError('pattern')) ">
          <div class="input_group">
            <span class="material-symbols-outlined">mail</span>
            <input type="email" class="form-control" placeholder="Email Address" formControlName="email" required />
          </div>
          <div class="error-msg">
            @if(form.controls['email'].touched && form.controls['email'].hasError('required')) {
            <p>Email is required!</p>
            }
            @if(form.controls['email'].touched && form.controls['email'].hasError('pattern')) {
            <p>Invalid Email!</p>
            }
          </div>
        </div>
      </div>
      <div class="form-holder">
        @let _tooglePassword = tooglePassword();
        <div class="input-field"
          [class.error-field]=" form.controls['password'].touched && (form.controls['password'].hasError('required') || form.controls['password'].hasError('pattern')) ">
          <div class="input_group">
            <span class="material-symbols-outlined">lock</span>
            <input [type]="_tooglePassword" class="form-control" placeholder="Password" formControlName="password"
              required />
            <span (click)="tooglePassword.set(_tooglePassword=='text' ? 'password': 'text')"
              class="material-symbols-outlined right-icon">
              {{_tooglePassword == 'password' ? 'visibility' : 'visibility_off'}}
            </span>
          </div>
          <div class="error-msg">
            @if(form.controls['password'].touched && form.controls['password'].hasError('required')) {
            <p>Password is required!</p>
            }
            @if(form.controls['password'].touched && form.controls['password'].hasError('pattern')) {
            <p>Password atleast have 6 characters.</p>
            }
          </div>
        </div>
      </div>
      <div class="form-holder">
        @let _toogleConfirmPassword = toogleConfirmPassword();
        <div class="input-field"
          [class.error-field]=" form.controls['confirm_password'].touched && (form.controls['confirm_password'].hasError('required') || form.controls['confirm_password'].hasError('pattern') || form.controls['confirm_password'].hasError('passwordMismatch')) ">
          <div class="input_group">
            <span class="material-symbols-outlined">lock</span>
            <input [type]="_toogleConfirmPassword" class="form-control" placeholder="Confirm Password"
              formControlName="confirm_password" required />
            <span (click)="toogleConfirmPassword.set(_toogleConfirmPassword=='text' ? 'password': 'text')"
              class="material-symbols-outlined right-icon">
              {{_toogleConfirmPassword == 'password' ? 'visibility' : 'visibility_off'}}
            </span>
          </div>
          <div class="error-msg">
            @if(form.controls['confirm_password'].touched && form.controls['confirm_password'].hasError('required')) {
            <p>Password is required!</p>
            }
            @if(form.controls['confirm_password'].touched && form.controls['confirm_password'].hasError('pattern')) {
            <p>Password atleast have 6 characters.</p>
            }
            @if(form.controls['confirm_password'].touched &&
            form.controls['confirm_password'].hasError('passwordMismatch')) {
            <p>Password & Confirm Password must match.</p>
            }
          </div>
        </div>
      </div>
      <button (click)="submit(form)">
        <span>Register</span>
      </button>
      <div class="auth_btm">
        <p>Already have an account? <a routerLink="/login">Sign In</a></p>
      </div>
    </form>
    <img src="images/auth-page-img2.png" alt="" class="image-2">
  </div>

</div>
