<div class="wrapper" style="margin-top: -80px;">
  <div class="inner">
    <img src="images/auth-page-img1.png" alt="" class="image-1">
    <form [formGroup]="form" id="register-form">
      <h3>New Account?</h3>
      <div class="form-holder ">
        @let _profile_pic = this.profile_pic().url;
        <div class="input-field">
          <div class="input_group image-wrap">
            <input class="profile-image" #profileImageInput [ngStyle]="{'display': _profile_pic?.length ? 'none' : 'block'}" type="file" placeholder=" Enter Name" (change)="handleImageUpload($event)" />
            @if(_profile_pic?.length) {
              <img [src]="_profile_pic" alt="" class="profile-image" (click)="profileImageInput.click()"/>
            }
          </div>
        </div>
      </div>
      <div class="form-holder ">
        <div class="input-field"
          [class.error-field]="form.controls['name'].touched && form.controls['name'].hasError('required')">
          <div class="input_group">
            <span class="material-symbols-outlined" style="font-size: 25px;">person</span>
            <input type="text" class="form-control" placeholder=" Enter Name" formControlName="name" required
              [maxlength]="50" />
          </div>
          <div class="error-msg">
            @if(form.controls['name'].touched && form.controls['name'].hasError('required')) {
            <p>Name is required!</p>
            }
          </div>
        </div>
      </div>
      <div class="form-holder">
        <div class="input-field"
          [class.error-field]=" form.controls['email'].touched && (form.controls['email'].hasError('required') || form.controls['email'].hasError('pattern')) ">
          <div class="input_group">
            <span class="material-symbols-outlined">mail</span>
            <input type="email" class="form-control" placeholder="Email Address" formControlName="email" required />
          </div>
          <div class="error-msg">
            @if(form.controls['email'].touched && form.controls['email'].hasError('required')) {
            <p>Email is required!</p>
            }
            @if(form.controls['email'].touched && form.controls['email'].hasError('pattern')) {
            <p>Invalid Email!</p>
            }
          </div>
        </div>
      </div>
      <div class="form-holder">
        @let _tooglePassword = tooglePassword();
        <div class="input-field"
          [class.error-field]=" form.controls['password'].touched && (form.controls['password'].hasError('required') || form.controls['password'].hasError('pattern')) ">
          <div class="input_group">
            <span class="material-symbols-outlined">lock</span>
            <input [type]="_tooglePassword" class="form-control" placeholder="Password" formControlName="password"
              required />
            <span (click)="tooglePassword.set(_tooglePassword=='text' ? 'password': 'text')"
              class="material-symbols-outlined right-icon">
              {{_tooglePassword == 'password' ? 'visibility' : 'visibility_off'}}
            </span>
          </div>
          <div class="error-msg">
            @if(form.controls['password'].touched && form.controls['password'].hasError('required')) {
            <p>Password is required!</p>
            }
            @if(form.controls['password'].touched && form.controls['password'].hasError('pattern')) {
            <p>Password atleast have 6 characters.</p>
            }
          </div>
        </div>
      </div>
      <div class="form-holder">
        @let _toogleConfirmPassword = toogleConfirmPassword();
        <div class="input-field"
          [class.error-field]=" form.controls['confirmPassword'].touched && (form.controls['confirmPassword'].hasError('required') || form.controls['confirmPassword'].hasError('pattern') || form.controls['confirmPassword'].hasError('passwordMismatch')) ">
          <div class="input_group">
            <span class="material-symbols-outlined">lock</span>
            <input [type]="_toogleConfirmPassword" class="form-control" placeholder="Confirm Password"
              formControlName="confirmPassword" required />
            <span (click)="toogleConfirmPassword.set(_toogleConfirmPassword=='text' ? 'password': 'text')"
              class="material-symbols-outlined right-icon">
              {{_toogleConfirmPassword == 'password' ? 'visibility' : 'visibility_off'}}
            </span>
          </div>
          <div class="error-msg">
            @if(form.controls['confirmPassword'].touched && form.controls['confirmPassword'].hasError('required')) {
            <p>Password is required!</p>
            }
            @if(form.controls['confirmPassword'].touched && form.controls['confirmPassword'].hasError('pattern')) {
            <p>Password atleast have 6 characters.</p>
            }
            @if(form.controls['confirmPassword'].touched &&
            form.controls['confirmPassword'].hasError('passwordMismatch')) {
            <p>Password & Confirm Password must match.</p>
            }
          </div>
        </div>
      </div>
      @let _loading = loading();
      <button (click)="submit(form)" [disabled]="_loading" [class.disabled]="_loading">
        @if(_loading) {
        <mat-spinner class="spinner" style="margin-right: 10px !important;" diameter="20"></mat-spinner> <span>Registering...</span>
        } @else {
        <span>Register</span>
        }
      </button>
      <div class="auth_btm">
        <p>Already have an account? <a class="link" routerLink="/login">Log In</a></p>
      </div>
    </form>
    <img src="images/auth-page-img2.png" alt="" class="image-2">
  </div>

</div>
