.mat-mdc-dialog-content {
  overflow: hidden !important;
}

.mat-mdc-dialog-title::before {
  height: 0px !important;
}

.mat-mdc-dialog-title {
  line-height: 20px;
  box-shadow: 2px 2px 2px rgb(222, 222, 222) !important;
}

.dialog_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--lightColor);

  .details_wrapper {
    max-width: 600px;

    h4 {
      margin: 0;
    }

    p {
      margin: 0;
      font-size: 12px;
      color: rgb(57, 57, 57);
    }
  }

  .btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .btn_holder {
      display: flex;
      justify-content: flex-end;



      @media(min-width: 1200px) {
        right: 1.25vw;
        top: 1.25vw;
      }

      .download_btn,
      .send_email_btn {
        padding: 7px 10px;
        border-radius: 6px;
        background-color: rgb(18, 18, 18);
        color: #fff;
        font-size: 12px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;

        .mat-icon {
          font-size: 20px;
        }

        span {
          @media(max-width: 767px) {
            display: none;
          }
        }

        @media(min-width: 1200px) {
          // margin-bottom: 1.667vw;
          // padding: 0.833vw 1vw;
          // border-radius: 0.833vw;
          // font-size: 1vw;
        }

        &:hover {
          background-color: #000000aa;
        }
      }

      .send_email_btn {
        margin: 0 5px;
        min-width: 120px;

        span {
          margin-left: 5px;
        }
      }
    }

    .modal_close_btn {
      // position: absolute;
      // right: 15px;
      // top: 15px;
      border: none;
      outline: none;
      width: 35px;
      height: 35px;
      background-color: var(--button_bg);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      .mat-icon {
        font-size: 18px;
        height: auto;
        width: auto;
      }

      &:hover {
        background-color: var(--dark);
        color: var(--white);

      }
    }
  }
}

.doc-viewer-wrapper {
  width: 100%;
  position: relative;
  padding: 0;
  overflow: auto !important;
  height: 54vh;
  overflow: hidden;
  padding-top: 30px;

}


.divider {
  width: 100%;

  .line {
    background-color: gray;
    height: 1px;
    width: 100%;
  }

  .or-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 500;
  }
}


.statement-view-datepicker {
  ::ng-deep {
    .mat-mdc-form-field-infix {
      width: 100%;

    }

    .mdc-text-field--outlined {
      padding-left: 0 !important;
    }

    .mat-date-range-input-wrapper {
      width: auto !important;
      min-width: 110px !important;

      input {
        width: auto !important;
        font-size: 16px !important;
        background-color: #FAF9FD !important;
      }
    }

    .mat-mdc-form-field-flex {
      padding: 0px 10px !important;
    }

    .disable-date-input {
      .mat-mdc-form-field-flex {
        background-color: #f3f4f6 !important;
      }
    }

    .mdc-text-field {
      overflow: hidden !important;
    }

    .mat-mdc-form-field-subscript-wrapper {
      display: none !important;
    }
  }
}


.by-duration {
  ::ng-deep {

    // mat-chip
    .mdc-evolution-chip-set__chips {
      @media (max-width: 530px) {
        flex-flow: column !important;
      }
    }

    // date-picker
    @media (max-width: 490px) {
      .mat-datepicker-toggle {
        display: none !important;
      }

      .mat-date-range-input-wrapper {
        min-width: 90px !important;

        input {
          font-size: 14px !important;
        }
      }
    }

    @media (max-width: 376px) {
      .mat-mdc-form-field-flex {
        padding: 0 !important;
      }

      .mdc-text-field--outlined .mat-mdc-form-field-infix,
      .mdc-text-field--no-label .mat-mdc-form-field-infix {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
      }

      .mat-mdc-form-field-infix {
        min-height: 0 !important;
      }
    }
  }
}

.by-limit {
  @media (max-width: 478px) {
    flex-direction: column !important;
  }
}

.by-type {
  ::ng-deep {

    // mat-chip
    .mdc-evolution-chip-set__chips {
      flex-wrap: wrap;

      @media (max-width: 370px) {
        flex-direction: column !important;
      }
    }
  }
}

// horizontal double line divider
.divider-doubleline {
  width: 60%;
  padding: 1px;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;

  margin: 10px 0;

  @media (max-width: 625px) {
    width: 100%;
  }
}

.disabled {
  pointer-events: none !important;
  opacity: 0.8;
}

.transaction-table {
  width: 100%;
  border: 1px solid #dadada;
  border-radius: 5px;
}