/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.error-field {
  label {
    color: rgb(255, 81, 81) !important;
  }

  input,
  select {
    border: 1px solid rgb(255, 81, 81) !important;
  }

  .uploaded-file-list-viewer {
    border: 1px solid rgb(255, 81, 81) !important;
  }
}


.disable-date-input {
  .mat-mdc-form-field-flex {
    background-color: #f3f4f6 !important;
  }

  .date-input {
    &:disabled {
      color: black !important;
    }
  }

  .mat-datepicker-toggle {
    display: none !important;
  }
}

#edit-expense-form {
  select {
    &:disabled {
      appearance: none !important; // Hides the default arrow
      -webkit-appearance: none !important; // For Safari and older Chrome
      -moz-appearance: none !important; // For Firefox
      background-image: none !important;
      background-color: #f3f4f6 !important;
    }
  }

  input {
    &:disabled {
      background-color: #f3f4f6 !important;
    }
  }
}
