@let _isScrolled = isScrolled();
@let _isLoggedin = isLoggedin();
@let _userdetails = userdetails();
@let _isMobileMenuOpen = isMobileMenuOpen();

<header class="sticky inset-x-0 top-0 z-50 transition-colors duration-200" [class]="_isScrolled ? 'bg-[#f3f8ff] shadow-md' : 'bg-transparent'">
  <nav class="flex items-center justify-between px-6 transition-all duration-200 ease-in-out" aria-label="Global" [class]="_isScrolled ? 'py-3 ' : 'py-6'">
    <div class="flex lg:flex-1 select-none">
      <a routerLink="/" class="-m-1.5 p-1.5">
        <span class="sr-only">Cashlytics</span>
        <img class="h-8 w-auto" src="logo/logo_full.png" alt="">
      </a>
    </div>
    <div class="flex lg:hidden">
      <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
        (click)="isMobileMenuOpen.set(!_isMobileMenuOpen)">
        <span class="sr-only">Open main menu</span>
        <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" >
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <a routerLink="/" class="text-sm/6 font-semibold text-gray-900">Home</a>
      <a routerLink="/about" class="text-sm/6 font-semibold text-gray-900">About</a>
      <a routerLink="/contact" class="text-sm/6 font-semibold text-gray-900">Contact Us</a>
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <!-- <a #CalculatorBtn class="text-sm/6 font-semibold text-gray-900 mr-5 hover:cursor-pointer"
        (click)="openCalculator(CalculatorBtn)">Calculator</a> -->
      @if(!_isLoggedin) {
      <a routerLink="/login" class="text-sm/6 font-semibold text-gray-900">Log in <span
          >&rarr;</span></a>
      } @else {
      <button class="example-menu-bar-item -mt-2" cdkMenuItem [cdkMenuTriggerFor]="profileMenu">
        <img class="w-10 h-10 object-cover border-none rounded-full"
          [src]="_userdetails && _userdetails?.image ? _userdetails.image : '/images/add_picture.jpg'"
          alt="Profile picture">
      </button>
      <ng-template #profileMenu>
        <div class="example-menu" cdkMenu>
          <button routerLink="/profile" class="example-menu-item" cdkMenuItem>Profile</button>
          <!-- <hr /> -->
          <button class="example-menu-item" cdkMenuItem (click)="event.logout()">Log out</button>
        </div>
      </ng-template>
      }
    </div>
  </nav>

  <!-- Mobile menu -->
  @if(_isMobileMenuOpen) {
  <div class="lg:hidden fixed inset-0 z-50 bg-gray-900/50" role="dialog" aria-modal="true">
    <div
      class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
      <div class="flex items-center justify-between select-none">
        <a routerLink="/" class="-m-1.5 p-1.5" (click)="isMobileMenuOpen.set(false)">
          <span class="sr-only">Cashlytics</span>
          <img class="h-8 w-auto" src="logo/logo_full.png" alt="">
        </a>
        <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700" (click)="isMobileMenuOpen.set(false)">
          <span class="sr-only">Close menu</span>
          <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            >
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6">
            <a routerLink="/"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold text-gray-900 hover:bg-gray-50"
              (click)="isMobileMenuOpen.set(false)">Home</a>
            <a routerLink="/about"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold text-gray-900 hover:bg-gray-50"
              (click)="isMobileMenuOpen.set(false)">About</a>
            <a routerLink="/contact"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold text-gray-900 hover:bg-gray-50"
              (click)="isMobileMenuOpen.set(false)">Contact Us</a>
          </div>
          <div class="py-6">
            <!-- <a #CalculatorBtn1
              class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold text-gray-900 hover:bg-gray-50"
              (click)="openCalculator(CalculatorBtn1); isMobileMenuOpen.set(false);">Calculator</a> -->
            @if(!_isLoggedin) {
            <a routerLink="/login"
              class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold text-gray-900 hover:bg-gray-50"
              (click)="isMobileMenuOpen.set(false)">Log in</a>
            } @else {
            <a routerLink="/profile"
              class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold text-gray-900 hover:bg-gray-50"
              (click)="isMobileMenuOpen.set(false)">Profile</a>
            <a (click)="event.logout()"
              class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold text-gray-900 hover:bg-gray-50"
              (click)="isMobileMenuOpen.set(false)">Log out</a>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
  }
</header>
